version: '3.8'
services:
  keycloak:
     image: quay.io/keycloak/keycloak:17.0.1
     command:
       - start-dev
     environment:
       - KEYCLOAK_ADMIN=admin
       - KEYCLOAK_ADMIN_PASSWORD=admin_password
       - CACHE_OWNERS_COUNT=2
       - CACHE_OWNERS_AUTH_SESSIONS_COUNT=2
       - CACHE_OWNERS_AUTH_SESSIONS_LIFESPAN=3600000
       - CACHE_OWNERS_LOGIN_SESSIONS_COUNT=2
       - CACHE_OWNERS_OFFLINE_SESSIONS_COUNT=2
       - CACHE_OWNERS_REALM_COUNT=2
       - CACHE_OWNERS_REALM_AUTH_SESSIONS_COUNT=2
       - CACHE_OWNERS_REALM_LOGIN_SESSIONS_COUNT=2
       - CACHE_OWNERS_REALM_OFFLINE_SESSIONS_COUNT=2
       - CACHE_OWNERS_WORK_CACHE_COUNT=2
       - JGROUPS_DISCOVERY_PROTOCOL=JDBC_PING
       - JGROUPS_DISCOVERY_PROPERTIES=dataSourceJndiName=java:jboss/datasources/KeycloakDS
       - JDBC_PING_CONNECTION_URL=jdbc:postgresql://db:5435/keycloak
       - JDBC_PING_USERNAME=keycloak
       - JDBC_PING_PASSWORD=keycloak_password
       - DB_VENDOR=postgres
       - DB_USER=keycloak
       - DB_PASSWORD=keycloak_password
       - DB_ADDR=db
       - DB_PORT=5432
       - DB_DATABASE=keycloak
       - PROXY_ADDRESS_FORWARDING=true
       - KC_PROXY=edge
     networks:
      custom_net:
        ipv4_address: 172.23.83.3
     depends_on:
       - db
     volumes:
       - ./config/keycloak.conf:/opt/keycloak/conf/keycloak.conf
     ports:
       - "8082:8080"
  db:
    build: ./postgres
    command: postgres -c shared_preload_libraries="pgaudit,pg_stat_statements" \
                      -c pg_stat_statements.track=all \
                      -c log_connections=on \
                      -c log_disconnections=on \
                      -c log_statement='none' \
                      -c max_connections=200
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=keycloak_password
    networks:
      custom_net:
        ipv4_address: 172.23.83.2
    volumes:
      - db-data:/var/lib/postgresql/db-data
      - db_log:/var/log/postgresql
    ports:
       - "5435:5432"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
networks:
     custom_net:
        driver: bridge
        ipam:
           config:
           - subnet: 172.23.83.0/24
             gateway: 172.23.83.1

volumes:
  db-data:
  db_log: